.main{
    margin: 2%;
}
.book-card{
    display: inline-block;
    max-width: 20%;
    margin-bottom: 2%;
    background-color: beige;
    padding: 1rem;
    
}

.book-title{
    font-size: 4rem;
    
}
a.admin-link{
    color: darkslategrey;
    font-size: 2rem;
}